@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
.navbar{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
 }
.navbar{
    color: white;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 4px;
    margin-left: 0;
    margin-top: 0;
    align-items: center;
    padding: 2px;
 }
 .logo>img{
   height: 30px;
   border-radius: 10px;
   margin-top: 5px;
   align-self: center;
 }
 .items{
    display: flex;
    flex-direction: row;
    list-style: none;
 }
 .list-item{
    text-decoration: none;
    margin: 0 25px;
    padding: 4px 2px;
 }
 *{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
 }
body{
    background-color: black;
}
 .navbar{
    width: 100vw;
    color: white;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 15px;
 }
 .logo>img{
   height: 30px;
   border-radius: 10px;
   margin: 2px;
 }
 .items{
    display: flex;
    flex-direction: row;
    list-style: none;
 }
 .list-item{
    text-decoration: none;
    margin: 0 25px;
    padding: 4px 2px;
 }
 .content{
   display: flex;
   width: 95vw;
   border-radius: 10px;
   background-color: rgb(52, 58, 64);
   border: 2px solid white;
   flex-direction: column;
   margin-bottom: 2rem;
  }
  .intro, .mission, .goals, .background-container, .approach-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro-content{
    text-align: center;
    padding: 4px;
    margin-bottom: 25px;
    background-color: slategray;
    border: 1px solid white;
  }
  .intro-head, .mission-head,.goals-head ,.background-head, .approach-head{
    color: rgb(15, 15, 243);
    font-size: x-large;
    font-weight: bold;
  }
  
  .part{
 width: 100%;
 height: 4px;
 background-color: slategray;
 margin: 5px 0px 20px 0px;
}
.mission-content, .background-content, .approach-content {
  text-align: center;
  padding: 4px;
  margin-bottom: 25px;
  background-color: slategray;
  border: 1px solid white;
}

.video{
  height: 200px;
  width: 300px;
  margin: 8px;
  padding: 8px;
  object-fit: cover;
}

.goals-content{
  padding: 4px;
  background-color: slategray;
  border: 1px solid white;
  margin-bottom: 25px;
}
.goals-content ul{
  margin-left: 20px;
}
.goals-content ul li{
  margin: 5px 0px;
}
.image{
 display: flex;
 margin: 4px;
 justify-content: center;
}

.active{
  color: blue;
 }
footer{
  height: 30px;;
  text-align: center;
  color: #ffffff;
  background-color: #212121;
  padding: 10px;
}
@media(max-width: 700px) {
    .dropdown{
        display: block;
      }
      .dropdown>.logo{
        margin: 20px;
        display: flex;
        justify-content: space-between;
      }
      .dropdown>.logo>p{
        margin-top: 10px;
      }
      .dropdown svg{
        height: 40px;
        cursor: pointer;
      }
      .dropdown>.items{
        flex-direction: column;
        margin-bottom: 10px;
        
      }
      .list-item{
        margin-bottom: 20px;
      }
      .flip{
        transform: rotateX(180deg);
      }
}