/* https://img.freepik.com/premium-photo/3d-cartoon-using-laptops-sitting-chairs-cute-cartoon-working-playing-social-media-technology-futuristic-poster-ai-generative_43969-5440.jpg?w=900 */

/* https://img.freepik.com/premium-photo/creative-mascot-character-design-modern-digital-art-style-with-vibrant-colors_732449-34637.jpg?w=360 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 *{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
 }
body{
    background-color: black;
}
 .navbar{
    width: 100%;
    color: white;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 4px;
 }
 .logo>img{
   height: 30px;
   border-radius: 10px;
   margin-top: 5px;
 }
 .items{
    display: flex;
    flex-direction: row;
    list-style: none;
 }
 .list-item{
    text-decoration: none;
    margin: 0 25px;
    padding: 4px 2px;
 }
 .active{
   color: blue;
 }
 .section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
 .section img{
    -webkit-box-reflect: below 4px linear-gradient(to bottom, transparent, 80%,rgba(0,0,0,0.0), rgba(0,0,0,0.4));
 }
  .sidebar{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    justify-content: center;
  }

  .part{
    height: 4px;
    width: 100%;
    margin: 8px 0;
    background-color: rgb(55, 59, 63);
 }


 .bigcontainer{
    position: relative;
    width: 50%;
    left:10%;
    margin-top: 90px;
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 0px 3px 2px slategray;
 }
 
 .typing {
    position: relative;
    left: 10%;
    border-right: 2px solid blue;
    overflow: hidden;
    white-space: nowrap;
    margin: 2px;
    font-size: xx-large;
    color: blue;
    font-weight: bolder;
    letter-spacing: 0.10rem;
    animation: typing-backtrack 3s steps(10, end) infinite, blinker 0.75s step-end infinite;
 }
 
    @keyframes typing-backtrack {
       0%, 100% {
          width: 0;
       }
       50% {
          width: 150px;
       }
    }
 @keyframes blinker {
    from, to { border-color: transparent; }
    50% { border-color: blue; }
 }
 .heading{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
  }
  .teammates{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
.box{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    transition: 3s ease-in-out;
}
.icon{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}
.circle{
   display: flex;
   visibility: hidden;
   justify-content: center;
   align-items: center;
   height: 40px;
   width: 40px;
   background-color: blue;
   border-radius: 10px;
}
.pic{
    margin: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    height: 300px;
    width: 200px;
}
.ravi{
   background-image: url('https://media.licdn.com/dms/image/D4D03AQGe9FUq9RqxSA/profile-displayphoto-shrink_400_400/0/1699788760920?e=1727308800&v=beta&t=t8ehgWS2efFtat4wUWWzkPUM_pc4XseBrgKkB5JjtUM');
}
.arpan{
   background-image: url('https://avatars.githubusercontent.com/u/118041697?v=4');
}
.harsh{
   background-image: url('https://media.licdn.com/dms/image/D4E03AQEMtN1a2wzaqg/profile-displayphoto-shrink_400_400/0/1713170689078?e=1727308800&v=beta&t=Z4eMc_yRivmAwJ_KJTtXbPTJF5lCE9PvjOV3k3s55iw');
}
.prateek{
   background-image: url('https://media.licdn.com/dms/image/D4D03AQFkB47sQtQGBA/profile-displayphoto-shrink_400_400/0/1688627930409?e=1727308800&v=beta&t=ls-ZRj530YdLs9UciUqEZDlV7SX2kjU5W8bYhQtSsUU');
}
.raman{
   background-image: url('https://media.licdn.com/dms/image/D5603AQGMiwMimTfJvA/profile-displayphoto-shrink_400_400/0/1722089085390?e=1727913600&v=beta&t=3GsSlEukVotHfXXGaIt3PTN5-ikWuSt8FJVUXoNccbw');
}
.divyam{
   background-image: url('https://media.licdn.com/dms/image/D5603AQF5Ugvq3ruT0A/profile-displayphoto-shrink_400_400/0/1692910157490?e=1727308800&v=beta&t=a21C2uwNhPZsowk9P20M-syGhF0TSfymnoE3k5iuIZo');
}
.sushant{
   background-image: url('https://media.licdn.com/dms/image/D5603AQFdFYdxstYCvw/profile-displayphoto-shrink_400_400/0/1721400741736?e=1727308800&v=beta&t=ZsEQiBWxW6Rnx-3CMuT2M1xZy0HAHyBWH9WJIS0kxZA');
}
.fardeen{
   background-image: url('https://media.licdn.com/dms/image/D4E03AQER1FlSbWeB4g/profile-displayphoto-shrink_400_400/0/1713153998613?e=1727308800&v=beta&t=8LZSskW0_b6snM6rq5ZXwZtm8QcWiAz_7nnWS4IXjCY');
}
  .box:hover{
    background : linear-gradient(rgba(96, 93, 93, 0.4),blue);
  }
  .box:hover .circle{
    visibility: visible;
  }
  footer{
    height: 30px;;
    text-align: center;
    color: #ffffff;
    background-color: #212121;
    padding: 10px;
 }
  @media (max-width:700px) {
    .section{
        flex-direction: column;
    }
    .sidebar{
      width: 100vw;
    }
    .part{
      margin: 25px 0px;
    }
    .dropdown{
      display: block;
    }
    .dropdown>.logo{
      margin: 20px;
      display: flex;
      justify-content: space-between;
    }
    .dropdown>.logo>p{
      margin-top: 10px;
    }
    .dropdown svg{
      height: 40px;
      cursor: pointer;
    }
    .dropdown>.items{
      flex-direction: column;
      margin-bottom: 10px;
      
    }
    .list-item{
      margin-bottom: 20px;
    }
    .flip{
      transform: rotateX(180deg);
    }
  } 
 